/*configs*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;;
    list-style: none;
}
::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;

}
::-webkit-scrollbar-track {
    background: #333;
}
::-webkit-scrollbar-thumb {
    background: #AD7114;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #111;
}
main {
    display: flex;
    flex-direction: column;
}

/*TOPO*/

#ContainerTop {
    background-image: url(img/WardenFogo.gif);
    box-shadow: inset 0px -40px 40px #000;
    background-size: cover;
    background-repeat: no-repeat;
    width: 85rem;
    height: 41.3rem;
    color: rgba(255, 230, 0, 0.788);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

#EU {
    width: 10rem;
    border-radius: 50%;
    margin-left: 25vh;
    margin-top: 10rem;
    border: 6px inset rgba(255, 230, 0, 0.788);
}

#TituloTop {
    margin-left: 21vh;

}

#Titulo2Top a {
    color: rgba(255, 230, 0, 0.788);
    margin-left: 24vh;
    border: 4px inset rgba(255, 230, 0, 0.788); 
}

/*Sobre mim*/

#SobreMimT {
    display: flex;
    justify-content: center;
    background-color: #000;
    border:  double 5px rgba(255, 230, 0, 0.788);
}

#PArea {
    font-size: 130px;
    color: rgba(255, 230, 0, 0.768); 
 }
 
#Area-Sobre {
    background-image: url(img/fundoSobre.gif);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -40px 40px #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}

#cavaleiro {
    margin-left: 9rem;
}

#AreaSobre2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgba(255, 230, 0, 0.788);
}

.ListaSobre {
    font-size: 2vh;
}

/*Técnologias*/

.Tecnologias {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
    background-color: #AD7114;
}

#Fogo {
    margin-left: 20vh;
    height: 19rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

#PTecnologias {
    border: 2px solid;
    width: 13rem;
}



/*projetos*/

