/*configs*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;;
    list-style: none;
}
::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;

}
::-webkit-scrollbar-track {
    background: #333;
}
::-webkit-scrollbar-thumb {
    background: #AD7114;
}
/*TOPO*/


#ContainerTop {
    background-image: url(img/WardenFogo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 85rem;
    height: 41.3rem;
    color: rgba(255, 230, 0, 0.788);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

#TituloTop {
    margin-left: 20vh;
    margin-top: 60vh;
}
#Titulo2Top a {
    color: rgba(255, 230, 0, 0.788);
    margin-left: 29vh;
    border: 4px inset;
}

/*Sobre mim*/

#AreaSobre {
    display: flex;
    flex-direction: row;
    
}
#EU {
    width: 20rem;
    border-radius: 50%;
    margin-left: 20vh;
    margin-top: 10rem;

}
#AreaSobre2 {
    display: flex;
    flex-direction: column;
    margin-left: 40rem;
    margin-top: -17rem;
    margin-bottom: 10rem;
    gap: 2rem;
}
#PArea {
    border: 2px solid;
    width: 12rem;
}

.ListaSobre {
    font-size: 2vh;
}